// Height
$height_100:100px;
$height_200:200px;
$height_300:300px;
$height_400:400px;
$height_500:500px;


// Percentage
$per10:10%;
$per20:20%;
$per30:30%;
$per40:40%;
$per50:50%;
$per60:60%;
$per10:70%;
$per80:80%;
$per90:90%;
$per90:100%;

// Values
$V_10:10px;
$V_20:20px;
$V_30:30px;
$V_40:40px;
$V_50:50px;
$V_60:60px;
$V_70:70px;
$V_80:80px;
$V_90:90px;
$V_100:100px;
$V_110:110px;
$V_120:120px;
$V_130:130px;
$V_140:140px;
$V_150:150px;
$V_160:160px;
$V_170:170px;
$V_180:180px;
$V_190:190px;
$V_200:200px;




// Align
$center:center;
$left:left;
$right:right;


//Display
$flex:flex;